html {
  height: 100%;
  width: 100%;
}
html body {
  height: 100%;
  width: 100%;
  margin: 0;
}
html body .home-wrapper {
  height: 100%;
}
html body .home-wrapper .content-wrapper {
  background-color: #fff2cc;
  display: flex;
  height: 100%;
}
html body .home-wrapper .content-wrapper .img-column {
  width: 40%;
}
html body .home-wrapper .content-wrapper .img-column .home-img {
  max-width: 100%;
  max-height: 100%;
}
html body .home-wrapper .content-wrapper .description-column {
  width: 60%;
}
html body .home-wrapper .content-wrapper .description-column .home-text-wrapper .home-name {
  font-family: 'Open Sans', sans-serif;
  font-size: 48;
}
html body .home-wrapper .content-wrapper .description-column .home-text-wrapper .home-subtitle {
  font-family: 'Dawning of a New Day', cursive;
}
html body .home-wrapper .content-wrapper .description-column .home-text-wrapper .home-link {
  font-family: 'Abel', sans-serif;
}
